Update facebook provider to v2.5 APIs

We're currently using v2.2 which will be supported until March 25, 2017, where v2.5 will be supported until at least until April 2018.

https://developers.facebook.com/docs/apps/changelog

RE: https://github.com/aspnet/Security/issues/92

In the process we should verify we're exposing the needed APIs for these scenarios: https://github.com/aspnet/Security/issues/365, 

"[Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {“access_token”: <TOKEN>, “token_type”:<TYPE>, “expires_in”:<TIME>}. We made this update to be compliant with section 5.1 of RFC 6749."

facebook oauth2 email problem fix

http://stackoverflow.com/a/32636149/4594225

facebook oauth2 email problem fix

http://stackoverflow.com/a/32636149/4594225